@media (max-width: 410px) {
  .pokemon-overlay-content {
    height: 360px;
    width: 320px;
  }

  .pokemon-overlay-content img {
    height: 80px;
    width: 80px;
}

.img-overlay {
    position: absolute;
    top: -50px;
}
  
  }

  @media (max-width: 353px) {
  .pokemon-overlay-content {
    height: 320px;
    width: 280px;
  }

  .pokemon-overlay-content img {
    height: 60px;
    width: 60px;
}

.img-overlay {
    position: absolute;
    top: -35px;
}

.evo-name{
  font-size: 10px;
}
  
  }