body{
    margin: 0px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.img-title {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}


h4{
    margin: 8px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
}
h5{
    margin: 4px 0px 4px 0px;
 
}

ul {
    
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.pokemon-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.content-pokemon{
    width: 160px;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2.5px 2.5px 0px rgba(64, 54, 134, 0.5);
    transition: all ease 0.3s;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)), url('/assets/img/wave-haikei.png');
    background-size: cover;
    cursor: pointer;
 
}

.content-pokemon:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
    
}

.loader {
  border: 24px solid #f3f3f3; /* Hellgrauer Rand */
  border-top: 20px solid #ff0000; /* Roter Rand oben */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    background-color: transparent;
}

.d_none{
    display: none;
}

.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.374);
}

.pokemon-overlay-content{
    height: 500px;
    width: 500px;
    background-color: rgb(242, 242, 242);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    gap: 30px;  
    
}

.close-button{
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover{
    transform: scale(1.15);
    transition: all ease 0.5s;
}

.pokemon-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 10px;

}

.p-overlay{
    font-size: 14px;
}













.bg_grass{
    background-color: rgb(0, 255, 0);
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}

.bg_poison{
    background-color: purple;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_fire{
    background-color: red;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_water{
    background-color: blue;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_bug{
    background-color: #8B4513;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_normal{
    background-color: #D3D3D3;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_electric{
    background-color: yellow;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_fairy{
    background-color: pink;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_fighting{
    background-color: #8B0000;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_ghost{
    background-color: #4B0082;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_ice{
    background-color: #ADD8E6;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_rock{
    background-color: #A52A2A;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_steel{
    background-color: #C0C0C0;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_dragon{
    background-color: #00008B;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_dark{
    background-color: #696969;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
} 
.bg_flying{
    background-color: #87CEEB;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_ground{
    background-color: #8B4513;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}
.bg_psychic{
    background-color: #FF69B4;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}